@font-face {
  font-family: "iconfont"; /* Project id 3481507 */
  src: url('iconfont.woff2?t=1656056542731') format('woff2'),
       url('iconfont.woff?t=1656056542731') format('woff'),
       url('iconfont.ttf?t=1656056542731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueliang:before {
  content: "\e662";
}

.icon-taiyang:before {
  content: "\e611";
}

.icon-suoding:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\e601";
}

.icon-jiesuo:before {
  content: "\e602";
}

.icon-liebiao:before {
  content: "\e603";
}

.icon-caidan:before {
  content: "\e60e";
}

